<div class="footer">
   <h3>Copyright &copy; <?php echo date('Y');?> The University of Queensland </h3>
   <h3>Contact webmaster  </h3>
</div>

<!-- old code, can be remove
<table class="wrapper">
    <tr class="footer">
    <h3>Copyright © 2015 The University of Queensland </h3>
</tr>
</table>
------->