<div class="header"> 
	<div class="header-inner">
		<img src="./image/uqlogo.png" alt="uqlogo"/>
		<h1>UQ Image</h1>
		<h2>Seeing Opinions from Social Media<font color="YELLOW"> (Under Construction)</font></h2>
			<div class="print-button">
				<img src="image/print.png" alt="Print Report"><br/>
				<a>Print Report</a>
			</div>
	</div>
</div>

<!-- old code, can be remove
    <table class="header"> 
   <colgroup>
       <col span="1" style="width: 25%;">
       <col span="1" style="width: 75%;">
    </colgroup>        <tr>	
            <td class="header-inner">
                <img src="./image/uqlogo.png" alt="uqlogo"/>
            </td>
            <td class="header-inner">
                <h1>UQ Image</h1>
                <h2>Seeing Options from Social Media <font color="YELLOW">(Under Construction)</font></h2>
            </td>
        </tr>
        <tr >
            <td style ="background:#000;color:#fff; display:inline-block;height:15px;">            
            </td>
            <td style ="background:#000;color:#fff; display:inline-block;height:15px;">
            </td>            
        </tr>
    </table>
    
-->