/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/09/2015, 9:06:10 PM
    Author     : uqgzhu1
*/

.header{  background:#49075e;color:rgb(239,239,239);height:82px;width:100%;}
.header img{margin-left:30px}
.header-inner h1{color:#fff;font-size:20px;font-family:Helvetica,"Trebuchet MS",sans-serif;font-weight:bold;}
.header-inner h2{color:#fff;font-size:15px;font-family:Helvetica,"Trebuchet MS",sans-serif;font-weight:lighter;}

.sidebar-wrapper {display: block;alignment-adjust: top; height:400; display:block;}
.sidebar-nav {background-color:#E2E2E2; height:100%;padding: 0px;list-style: none;}
.sidebar-nav li {text-indent: 10px;line-height: 30px;}
.sidebar-nav li a {display: block;text-indent: 20px;font-family:Helvetica,"Trebuchet MS",sans-serif;font-weight:light;text-decoration: none;color: #3399ff;}
.sidebar-nav li a:hover {text-decoration: none;color: #ffffff;background: #49075e;}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {text-decoration: none;}
.sidebar-brand {height: 30px;font-size: 12px; line-height: 60px; font-family:Helvetica,"Trebuchet MS",sans-serif;font-weight:bold;background-color:#49075e; color:#ffffff;}
.sidebar-nav li select{width:180px;}
.sidebar-nav li .nav-input{width:180px;font-size: 12px;}
.sidebar-nav .nav-button{ background-color: #49075e; color:#e2e2e2; font-size:15px;font-family:Helvetica,"Trebuchet MS",sans-serif;font-weight:lighter;margin-top:10px;width: 89px; margin-bottom:10px;}



    .map-canvas {
        width: 100%;
        height: 400px;
        margin: 0;
        padding: 0;
    }

    .stations, .stations svg {
        position: absolute;
    }

    .stations svg {
        width: 60px;
        height: 20px;
        padding-right: 100px;
        font: 10px sans-serif;
    }

    .stations circle {
        fill: brown;
        stroke: black;
        stroke-width: 1.5px;
    }
    .networknode {
        stroke: #fff;
        stroke-width: 1.5px;
    }

    .networklink {
        stroke: #999;
        stroke-opacity: .6;
    }

    
    
    .TopicHernode circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2px;
  }
  
    .TopicHernode text {
    font-size:10px; 
    font-family:sans-serif;
  }
    
    

    line.link {
        stroke-width: 1px;
        stroke: #999;
        stroke-opacity: 0.6;
    }

    marker#arrow {
        stroke: #999;
        fill: #999;
    }


    
    .ranklink {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }



    .axis path, .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    
    		.bar.apples { fill: green; }
		.bar.oranges { fill: orange; }
		.bar.bananas { fill: yellow; }
		.bar.plums { fill: purple; }


    canvas { float: left; margin-bottom: 20px }
    ul.weighted {
        float: left;
        display: block;
        overflow: auto;
        padding: 20px;
        margin: 0 10px 20px 0;
        background-color: #fff;
        border: 4px solid #aaa;
        border-radius: 20px;
        -moz-border-radius: 20px;
    }
    ul.weighted li { display: inline }
    ul.weighted li a { margin: 2px }
    .centred p { width: 320px; float: left; margin-left: 20px }
    .preright { float: left }
    .huge { font-family: Impact,sans-serif; font-size: 56px }
    .large { font-family: 'Arial Black',sans-serif; font-size: 40px }
    .medium { font-family: Verdana,sans-serif; font-size: 18px }
    .small { font-family: Georgia,sans-serif; font-size: 11px }
    a.red { color: #f00 }
    a.green { color: #0c0 }
    a.purple { color: #f09 }
